* {
    padding: 0;
    margin: 0;
}

body {
    line-height: 1;
}

div {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}

.main {
    width: 298px;
    height: 248px;
    border: 1px solid #000000;
    top: 0px;
    left: 0px;
    overflow: hidden;
    visibility: hidden;
    cursor: pointer;
}

#backgroundImage, #logoImage, #yPredictLogo, #guyImage, #copyImage1, #copyImage2, #copyImage3, #copyImage4, #copyImage5 {
    width: 300px;
    height: 250px;
    top: -1px;
    left: -1px;
    position: absolute;
    opacity: 0;
}

#logoContainer {
    width: 170px;
    height: 60px;
    top: 14px;
    left: 82px;
    overflow: hidden;
}

#yPredictLogo {
    top: -15px;
    left: -260px;
    opacity: 1;
}

#guyImage {
    left: 300px;
    opacity: 1;
}

#kContainer {
    width: 170px;
    height: 63px;
    top: 120px;
    left: 0px;
    overflow: hidden;
}

#copyImage4 {
    top: -65px;
}

#ribbonContainer {
    width: 170px;
    height: 43px;
    top: 185px;
    left: 0px;
    overflow: hidden;
}

#copyImage5 {
    top: -215px;
}

.transition {
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;
    -ms-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

#clickArea {
    position: absolute;
    top: -1px;
    left: -1px;    
}
